@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-area h1 {
  all: revert;
}
.markdown-area h2 {
  all: revert;
}
.markdown-area h3 {
  all: revert;
}
.markdown-area ul {
  all: revert;
}
.markdown-area ol {
  all: revert;
}
.markdown-area li {
  all: revert;
}
.markdown-area p {
  all: revert;
}
.markdown-area pre {
  all: revert;
}
.markdown-area a {
  all: revert;
}
:root {
  --vh: 1vh;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: calc(var(--vh) * 100);
  overflow: hidden;
}
#root .ant-app {
  height: calc(var(--vh) * 100);
}
* {
  scrollbar-width: thin; /* Firefox */
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.scrollbar-hidden-when-no-active {
  &::-webkit-scrollbar {
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar {
    opacity: 1;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

html .controlskit .mat-mdc-fab.mat-primary {
  --mdc-fab-container-color: #704fe6;
  --mat-full-pseudo-checkbox-selected-icon-color: #704fe6;
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #704fe6;
  --mat-badge-background-color: #704fe6;
}

html .controlskit .mat-mdc-fab.mat-warn {
  --mdc-fab-container-color: #f6687b;
}
html .mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #704fe6;
}
